body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titlebar {
  height: 30px;
  background: #999;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #999;
}
.titlebar-button:hover {
  background: #5bbec3;
}

.markdown-digest {
  font-size: 12px;
  max-height: 50px;
  overflow: hidden;
}

.markdown-digest,
.markdown-digest p,
.markdown-digest span {
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}

.markdown-digest img {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.markdown-reader p {
  max-width: unset !important;
}

.markdown-reader img {
  margin: 0 auto;
  width: 100%;
}

samp:after {
  font-weight: 500;
  color: #aaa;
  content: '/';
}

samp:before {
  font-weight: 500;
  color: #aaa;
  content: '/';
}
